/*FONDO DE LA PAGINA*/
#degrades{
    background-color: pink; 
    background-image: linear-gradient(pink, rgb(124, 0, 118));
    height: 2000px;
}

/*CARCATERISTICAS DEL PRIMER TITULO*/
.titulo1{
    font-size: 80px;
    font-family: 'Bebas Neue';
    text-align: center;
    color: white;
}

/*Caracteriticas de la imagen con texto*/
.conta{
    position: relative;
    height: 450px;
    width: 503px;
}

.texto{
    padding-left: 50px;

}

.img1{
    float: left;
    height: 450px;
    padding-left: 20%;
}

.conta p{
    font-size: 25px;
    color: black;
    position: absolute;
    top: 28%;
    left: 20%;
    line-height: 1.5;
    text-align: justify;
}

/*Caracteriticas del eloga e imagen*/
.textoflotante{
    float: right;
    margin-top: -80px;
    margin-right: -20px;
}

.texto1{
    font-family: 'lobster';
    font-size: 40px;
    float: right;
    margin-top: -250px;
    margin-right: 450px;
}

.img2{
    float: right;
    margin-top: -400px;
    margin-right: px;
}

.tamanoimg{
    width: 625px;
    height: 376px;
}

/*IMAGENES GATOS*/
.galeria{
    width: 100%;
    
}
.galeria_img{
    height: 100%;
    position: relative;
    width: 625px;
    cursor: pointer;
    overflow: hidden;
}

.galeria_img .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

.galeria_img::before{
    content: "hola ctm";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f3a6;
    transform: translate(100%);
    transition: transform 4s;
    
}

.galeria_img:hover::before{
    transform: translate(0);
}

.tamimg{
    width: 600px;
    height: 400px;
}