.titulo1{
    font-size: 70px;
    text-align: center;
    color: white;
}

#degrades{
    background-color: rgb(124, 0, 118); 
    background-image: linear-gradient(rgb(124, 0, 118), pink);
    height: auto;
}

.parrafos1{
    text-align: center;
    color:  white;
    font-size: 15px;
}