/*FONDO DE LA PAGINA*/
#degrades{
    background-color: pink; 
    background-image: linear-gradient(pink, rgb(124, 0, 118));
    height: 2000px;
}

/*CARCATERISTICAS DEL PRIMER TITULO*/
.nompag{
    font-size: 80px;
    font-family: 'Bebas Neue';
    text-align: center;
    color: white;
}

.linea{
    border-top: 5px solid white;
}

/*CARCATERISTICAS DEL PRIMER TITULO*/
.titulo1{
    font-size: 70px;
    font-family: 'Bebas Neue';
    text-align: center;
    color: white;
    margin-top: 50px;
}

/*Caracteriticas de la imagen con texto*/
.conta{
    position: relative;
    height: 450px;
    width: 503px;
}

.texto{
    padding-left: 50px;

}

.img1{
    float: left;
    height: 450px;
    padding-left: 20%;
}

.conta p{
    font-size: 25px;
    color: black;
    position: absolute;
    top: 28%;
    left: 20%;
    line-height: 1.5;
    text-align: justify;
}

/*Caracteriticas del eloga e imagen*/
.textoflotante{
    float: right;
    margin-top: -80px;
    margin-right: -20px;
}

.texto1{
    font-family: 'lobster';
    font-size: 40px;
    float: right;
    margin-top: -250px;
    margin-right: 450px;
}

.img2{
    float: right;
    margin-top: -400px;
    margin-right: px;
}

.tamanoimg{
    width: 625px;
    height: 376px;
}

/*GALERIA IMAGENES*/

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
    padding-left: 90px;
    padding-right: 90px;
}

#galeria .col-md-6{
    margin-left: 150px;
    margin-right: 150px;
}

#galeria img{
    width: 100%;
    height: 350px;

}

#galeria img:hover{
    border: 5px solid white;
}

#galeria{
    margin-top: 5%;
}

.pizarra{
    position: absolute;
    background-color: white;
    border: 8px solid #C0C0C0;
    width: 1864px;
    height: auto;
    margin-top: 800px;
}

.tipiz{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}