#titulos1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: rgb(235, 235, 235);
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 70px;
}

.titulos2{
    text-align: center;
    color: white;
}

.margen{
    margin-top: 85px;
  }

#degrades{
    background-color: rgb(124, 0, 118); 
    background-image: linear-gradient(rgb(124, 0, 118), pink);
    height: auto;
}

#parrafo{
    text-align: center;
    color: rgb(235, 235, 235);
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: black 4px;
}

#imagenes{
    width: 300;
    height: 200;
}

#link{
    text-decoration: none;
}


#main-header {
    background: #81DAFA;
    color: rgb(0, 0, 0);
    height: 80px;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    border-radius: 20px;
  
  }	
    #main-header a {
      color: rgb(0, 0, 0);
    }
    
    
  /*
   * Logo
   */
  #logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
  }
    #logo-header:hover {
      color: #0b76a6;
    }
    
    #logo-header .site-name {
      display: block;
      font-weight: 700;
      font-size: 1.2em;
    }
    
    #logo-header .site-desc {
      display: block;
      font-weight: 300;
      font-size: 0.8em;
      color: #999;
    }
    
  
  /*
   * Navegación
   */
  nav {
    float: right;
  }
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      padding-right: 20px;
    }
    
      nav ul li {
        display: inline-block;
        line-height: 80px;
      }
        
        nav ul li a {
          display: block;
          padding: 0 10px;
          text-decoration: none;
        }
        
          nav ul li a:hover {
            background: #0b76a6;
          }
    
  
  
  
  /************ 
  //------------------------------
  // CONTENIDO
  //------------------------------
  ************/
  #main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
  }
  
    #main-content header,
    #main-content .content {
      padding: 40px;
    }