.fondo{
    background-color: #C489FD; 
    /*background-image: linear-gradient(pink, rgb(124, 0, 118));*/
    
}

.nompag{
    font-size: 80px;
    font-family: 'Bebas Neue';
    background-color: #81DAFA;
    border-radius: 20px;
}

.linea{
    border-top: 5px solid #81DAFA;
    border-radius: 20px;
}


.margen{
    margin-top: 85px;
  }
  
.margena{
  margin-top: 135px;
}

.tabla{
    background-color: #81DAFA;
    border: 2px solid black;
    float: right;
    height: 200px;
    width: 400px;
    margin-right: 200px;
    margin-bottom: 1000px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;   
}

tr, td{
    border: solid 1px white;
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th{
    padding: 4px;
    background-color: #a572d4;
    border-collapse: collapse;
}

.tamimg{
    height: 600px;
    width: 600px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid white;
}


#main-header {
    background: #81DAFA;
    color: rgb(0, 0, 0);
    height: 80px;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    border-radius: 20px;
  
  }	
    #main-header a {
      color: rgb(0, 0, 0);
    }
    
    
  /*
   * Logo
   */
  #logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
  }
    #logo-header:hover {
      color: #0b76a6;
    }
    
    #logo-header .site-name {
      display: block;
      font-weight: 700;
      font-size: 1.2em;
    }
    
    #logo-header .site-desc {
      display: block;
      font-weight: 300;
      font-size: 0.8em;
      color: #999;
    }
    
  
  /*
   * Navegación
   */
  nav {
    float: right;
  }
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      padding-right: 20px;
    }
    
      nav ul li {
        display: inline-block;
        line-height: 80px;
      }
        
        nav ul li a {
          display: block;
          padding: 0 10px;
          text-decoration: none;
        }
        
          nav ul li a:hover {
            background: #0b76a6;
          }
    
  
  
  
  /************ 
  //------------------------------
  // CONTENIDO
  //------------------------------
  ************/
  #main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
  }
  
    #main-content header,
    #main-content .content {
      padding: 40px;
    }
  .footer{
    background-color: #24262b;
    padding: 70px 0;
    border-top: 5px solid #81DAFA;
    border-bottom: 5px solid #81DAFA;
 
  }
  .footer-col{
     width: 33%;
     padding: 0 8px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #81DAFA;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

html, body {
  max-height: 100px;
}

.tiesa{
  width: 65px;
  height: 60px;
  padding-right: 5px;
}